
<section>
    <div class="row mt-4">
    <div class="col-md-4 offset-lg-3">
    <form action="/login" method="post">
        <h3>Login</h3>

         <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>

 <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
    <a href="/signup">Create New Account</a>
  <button type="submit" class="btn btn-primary float-end">Login</button>
</form>
 </div>
 <h1>{{user.username}}</h1>
 </div>
</section>